pkgbase = calamares-eggs
	pkgdesc = calamares-eggs: supply by penguins-eggs project
	pkgver = 3.3.8.r39.g80ef430
	pkgrel = 1
	url = https://github.com/calamares/calamares
	arch = i686
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = boost
	makedepends = extra-cmake-modules
	makedepends = git
	makedepends = ninja
	makedepends = qt6-tools
	makedepends = qt6-translations
	depends = boost-libs
	depends = ckbcomp
	depends = hwinfo
	depends = kconfig
	depends = kcoreaddons
	depends = kcrash
	depends = ki18n
	depends = kiconthemes
	depends = kpmcore
	depends = libpwquality
	depends = polkit-qt6
	depends = python
	depends = python-jsonschema
	depends = python-yaml
	depends = qt6-svg
	depends = solid
	depends = squashfs-tools
	depends = yaml-cpp
	provides = calamares=3.3.8
	conflicts = calamares
	source = git+https://github.com/calamares/calamares#commit=80ef430185212b9312bf30ef4eba9890c7a9fcfe
	sha256sums = SKIP

pkgname = calamares-eggs
